@import '../../styles/settings/variables.scss';
@import '../../styles/tools/mixins.scss';

.c-input {
    --padding: 0.5rem;
    --font-size: 1.3rem;
    --border-color: #{$darkCrimson};

    width: 100%;
    padding: var(--padding);
    font-size: var(--font-size);
    border: 2px solid transparent;
    border-radius: 4px;
    outline-color: var(--border-color);

    &:focus {
        border-color: var(--border-color)
    }

    &--error {
        border-color: var(--red);
    }
    
    @include mediaTablet {			
        --padding: 1rem;
        --font-size: 1.4rem;
    }
}