@import '../../styles/settings/variables.scss';
@import '../../styles/tools/mixins.scss';

.c-checkbox  {
	--border: #{$white};
	--background: #{$lightCrimson};
	--background--checked: #{$darkCrimson};

    position: relative;
    font-family: var(--font-family);
	
	&__input {
        display: none;	    
		
		&:checked + .c-checkbox__label:before {
			content: "";
			background-color: var(--background--checked);
			border-color: var(--background);
			box-shadow: 0 0 0 2px var(--background--checked);
		}
	}
	
	&__label {
		--size: 1.4rem;

        display: flex;
        align-items: center;
        font-size: 1.5rem;
		cursor: pointer;		
		
		&:before {
            content: '';  
            display: block;          
			width: var(--size);
            height: var(--size);           
            margin-right: 1rem;			
			border: 2px solid var(--border);
			border-radius: 50%;
            background-color: var(--background);
		}

		@include mediaTablet {			
			--size: 1.8rem;
		}
	}
	
	&--error {
		.c-checkbox__label::before {
			border: 2px solid var(--red);
		}
	}
}