@import '../../styles/settings/variables.scss';
@import '../../styles/tools/mixins.scss';

.todo-filters {
    --padding: 1rem;
    --font-size: 1.4rem;

    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 1rem;

    margin-top: 1rem;
    padding: var(--padding);
    font-size: var(--font-size);
    color: $white;

    border-radius: 4px;
    border: 1px solid $darkCrimson;
    background-color: rgba($darkCrimson, 0.6); 

    @include mediaTablet {			
        --padding: 1rem 1.5rem;
        --font-size: 1.6rem;

        grid-template-columns: repeat(3, auto);
        grid-template-rows: 1fr;
    }



    .filter {
        display: flex;
        align-items: center;  
        
        &__items { 
            grid-row: 2; 

            @include mediaTablet {
                grid-row: auto;
            }        
        }

        &__buttons {
            grid-column: span 2;
            .c-button:nth-child(2) { margin: 0 1rem; }

            @include mediaTablet {
                grid-column: auto;
            }
        }

        &__clear {
            justify-content: flex-end;
            grid-column: 2; 
            .c-button { width: auto; }

            @include mediaTablet {
                grid-column: auto;
            }
        }        
    }
}